.About {
}

.welcome--info {
  padding: 4rem;
}

.welcome--info blockquote {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}
.welcome--info blockquote p {
  margin: 0 0 1.5rem 0;
}

.welcome--content {
  padding: 0 0 0 4rem;
}
