.SinglePost {
}

.SinglePost--BackgroundImage {
  height: 50rem;
}

.SinglePost--Content {
  width: 85%;
  background: white;
  position: absolute;
  top: 30rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8rem;
  margin-bottom: 30rem;
}

.SinglePost--Category-Date {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}
.SinglePost--Title {
  text-align: center;
  font-size: 5rem;
  line-height: 1.2;
}

.SinglePost--InnerContent {
  padding: 0 8rem;
}
.SinglePost--gallery {
  width: 100%;
}
