.Coloured {
  display: inline-block;
  position: relative;
}

.Coloured--Dot {
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  left: -14rem;
  width: 12rem;
  height: 12rem;
}

.Coloured--Dot--small {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 1rem;
}

.Services--gallery .Gallery {
  width: 50%;
}

.Services--info {
  padding: 2rem;
  width: 45%;
}

.Services--description {
  padding: 0 8rem;
}

@media screen and (max-width: 750px) {
  .Coloured--Dot {
    top: -0.5rem;
    left: -8rem;
    width: 6rem;
    height: 6rem;
  }
  .Services--gallery .Gallery {
    width: 100%;
  }

  .Services--info {
    padding: 2rem;
    width: 100%;
  }

  .Services--description {
    padding: 0;
  }
}
