.FeaturePostSection .PostCard {
  width: calc(60% - 4rem);
}

.FeaturePostSection .PostCard:nth-child(4n + 2),
.FeaturePostSection .PostCard:nth-child(4n + 3) {
  width: calc(40% - 4rem);
}

.FeaturePostSection h2 {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}
