.FeaturePostCard {
  text-decoration: none;
}

.FeaturePostCard .FeaturePostCard--Image {
  width: 50%;
  height: 500px;
}

.FeaturePostCard h3 {
  margin: 2rem 0;
}

.FeaturePostCard--Info {
  width: 40%;
}

.FeaturePostCard--Excerpt {
  width: 85%;
  margin: 2rem 0 0 auto;
}

.FeaturePostCard .button {
  margin: 2rem 0;
}

@media screen and (max-width: 750px) {
  .FeaturePostCard .FeaturePostCard--Image {
    width: 100%;
    height: 350px;
    margin: 0 0 2rem 0;
  }

  .FeaturePostCard--Info,
  .FeaturePostCard--Excerpt {
    width: 90%;
    margin: 0 auto;
  }
}
