.GalleryHome {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  will-change: transform, z-index;
  background: black;
}
.GalleryHome--Item {
  width: 50%;
  height: 50vh;
  position: relative;
  transition: all 0.666s ease-in-out;
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 0;
  z-index: 1;
}

.GalleryHome--Item:nth-child(even) {
  transform: translate3d(0, -400px, 0);
  left: 50%;
}
.GalleryHome--Item:nth-child(odd) {
  transform: translate3d(0, 400px, 0);
  left: 0;
}
.GalleryHome--Item.next:nth-child(even) {
  transform: translate3d(0, 400px, 0);
}
.GalleryHome--Item.next:nth-child(odd) {
  transform: translate3d(0, -400px, 0);
}

.GalleryHome--Item.active {
  transform: translate3d(0, 0, 0);
  z-index: 3;
}
.GalleryHome--Item .BackgroundImage {
  width: 100%;
  height: 50vh;
}

.GalleryHome button {
  position: relative;
  z-index: 4;
}
/*
@keyframes slideUp {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}*/
