body,
#root,
.React-Wrap {
  position: relative;
  min-height: 100vh;
}

.Nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: var(--bodyColor);
  color: var(--primary);
}

.isHome.Nav {
  background: transparent;
  position: fixed;
  color: white;
  transition: all 0.2s ease-in-out;
}

body.scrolled .isHome.Nav {
  color: var(--primary);
  background: var(--bodyColor);
  border-bottom: 2px solid var(--lightGrey);
}

body.fixed .Nav {
  opacity: 0;
}
