.NavLink {
  padding: 2.5rem 0 0 5rem;
  display: block;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.NavLink .hover {
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 2.5rem;
  line-height: 1;
}

.NavLink:hover,
.NavLink:focus {
  opacity: 0.6;
}

.NavLink.active .hover {
  opacity: 1;
}

.NavPopup .NavLink {
  padding: 1rem;
  font-size: 1.6rem;
}

.NavPopup .NavLink .hover {
  display: inline-block;
  margin: 0 1rem;
  line-height: 0.8;
}
.NavPopup .NavLink .hover {
  display: inline-block;
  margin: 0 1rem;
  line-height: 0.8;
}

.NavLink--Children--Mobile .NavLink {
  padding: 0.6rem 1.5rem;
  font-size: 1.2rem;
}
