.ProjectCard {
  width: calc(60% - 4rem);
  text-decoration: none;
}

.ProjectCard:nth-child(2n) {
  width: calc(40% - 4rem);
}

.ProjectCard .ProjectCard--Image {
  margin: 0 0 2rem 0;
}
.ProjectCard h3 {
  margin: 0 0 0 4rem;
}
.ProjectCard .button {
  margin: 2rem 6rem;
}
