.ServicePodSection .Service--Title {
  font-size: 2rem;
}

.ServicePod {
  width: calc(33.33% - 2rem);
  margin: 2rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.ServicePod--Icon {
  margin-right: 2rem;
  max-width: 70px;
  max-height: 70px;
  display: block;
}
.ServicePod--Info {
  padding: 4rem 0 0 0;
}

.ServicePod--Title {
  font-size: 2.5rem;
}

.ServicePod--Description {
  padding-left: 4rem;
}

@media screen and (max-width: 1000px) {
  .ServicePod {
    width: 75%;
    margin: 2rem 0;
    display: block;
  }
  .ServicePod--Icon {
    margin: 0 auto;
  }
}
