:root {
  --primary: #1f1f1f;
  --primary-light: #ff6f6f;
  --secondary: #091d24;
  --orange: #a15734;
  --blue: #2a374d;
  --brown: #453833;
  --lightGrey: #f1f1f1;
  --midGrey: #b5b4b5;
  --darkGrey: #585858;
  --danger: #ff3d3d;
  --bodyColor: #f8f8f8;
  --font-primary: 'din-2014', sans-serif;
  --font-secondary: 'aktiv-grotesk', sans-serif;
  --font-system: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --borderRadius: 3px;
  --desktop: 1000px;
  --tablet: 750px;
  --mobile: 500px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: #f8f8f8;
}

body {
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  background: var(--bodyColor);
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.4;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-family: var(--font-secondary);
}
h2.large {
  font-size: 4rem;
}
@media screen and (max-width: 1000px) {
  h2.large {
    font-size: 2.5rem;
  }
}

a {
  text-decoration: none;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

/* Layout */
.AnimatedSwitch {
  position: relative;
}

.AnimatedSwitch > * {
  position: absolute;
  width: 100%;
}

.section {
  width: 100%;
  padding: 5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 2.5rem 0;
}
.section.noPadding {
  padding: 0;
}
@media screen and (max-width: 1000px) {
  .section {
    padding: 5rem 0;
  }
  .section.thick {
    padding: 5rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}
@media screen and (max-width: 750px) {
  .section,
  .section.thick {
    padding: 2.5rem 0;
  }
  .section.thin {
    padding: 1rem 0;
  }
}

.container {
  max-width: 1111px;
  width: 96%;
  margin: 0 auto;
}
.container.larger {
  max-width: 1333px;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}
.container.hidden {
  overflow: hidden;
}

/* CSS Columns */

.twoColumn {
  column-count: 2;
  column-gap: 2rem;
}
.threeColumn {
  column-count: 3;
  column-gap: 2rem;
}

@media screen and (max-width: 750px) {
  .twoColumn {
    column-count: 1;
    column-gap: 0;
  }
  .threeColumn {
    column-count: 1;
    column-gap: 0;
  }
}

/* Flex */

.Flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .Flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.Flex.column {
  flex-direction: column;
}
.Flex.justifyCenter {
  justify-content: center;
}
.Flex.justifyEnd {
  justify-content: flex-end;
}
.Flex.justifyBetween {
  justify-content: space-between;
}
.Flex.justifyAround {
  justify-content: space-around;
}
.Flex.alignStart {
  align-items: flex-start;
}
@media screen and (max-width: 750px) {
  .Flex.alignStart {
    align-items: center;
  }
}
.Flex.alignEnd {
  align-items: flex-end;
}
.Flex.alignStretch {
  align-items: stretch;
}
.Flex.fill {
  height: 100%;
  width: 100%;
}
.Flex.flexWrap {
  flex-wrap: wrap;
}

/* buttons */
.button {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.15em;
  font-size: 1.4rem;
  display: inline-block;
  border: none;
  transition: all 0.1s ease;
  cursor: pointer;
  position: relative;
  background: url(/images/button-background.svg) 0 0 no-repeat;
  background-size: contain;
  padding: 3rem;
  line-height: 1rem;
}
.button:hover,
.button:focus {
  background: url(/images/button-background-hover.svg) 0 0 no-repeat;
  background-size: contain;
  outline: none;
}
.button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

@media screen and (max-width: 750px) {
  .button {
    font-size: 1.3rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .button {
    font-size: 1.2rem;
    padding: 1.5rem;
  }
}

.section-title {
  font-size: 4rem;
  text-align: center;
}

.flickity-prev-next-button {
  top: calc(100% - 15px);
  border-radius: 0;
  left: auto !important;
  right: 0 !important;
  width: 30px;
  height: 30px;
}
.flickity-prev-next-button.previous {
  right: 30px !important;
}
